<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="superAdminBase::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Edit User Profile</title>
</head>
<body>
<h1>Edit User Profile</h1>

<section>
    <div class="container p-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card-header text-center fs-4">
                    Edit Profile
                    <div class="card-body">
                        <form th:action="@{/principalAdmin/edit-user-profile/{id}(id=${user.id})}" method="post">
                            <div class="mb-3">
                                <label for="firstName">First Name:</label>
                                <input type="text" id="firstName" name="firstName" th:value="${user.firstName}" required><br>
                            </div>
                            <div class="mb-3">
                                <label for="lastName">Last Name:</label>
                                <input type="text" id="lastName" name="lastName" th:value="${user.lastName}" required><br>
                            </div>
                            <div class="mb-3">
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" th:value="${user.email}" required><br>
                            </div>
                            <div class="mb-3">
                                <label for="role">Role:</label>
                                <select id="role" name="role" required>
                                    <option value="ROLE_USER" th:selected="${user.role == 'ROLE_USER'}">USER</option>
                                    <option value="ROLE_ADMIN" th:selected="${user.role == 'ROLE_ADMIN'}">ADMIN</option>
                                </select>
                            </div>
                            <button type="submit">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


</body>
</html>
